
    .bg {
        background-image: url(../images/2.png);
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        position: absolute;

    }

    .div_right {
        width: 29%;
        height: 53%;
        margin-left:61%;
        position: absolute;
        top: 21%;
        background-color:  #CAE1FF  ;
    }

    .div_right_top {
      background-image: url(../images/11.jpg);
      background-size: 100% 100%;
        width: 100%;
        height:30%;
        background-repeat: no-repeat;

    }
    .group{
    margin: 6% 10%;
    }
    .controlButton{
      text-align: center;
    }
    .controlButton button{
      border-radius: 10px;
      height: 100%;
      width: 18%;
      border: none;
      background-color:#F7F7F7;
      padding: 2.5%;
    }
    .group input{
      height:100%;
      width: 50%;
      padding: 2% 8%;
    }
    .rememberPass{
    margin: 6% 10%;
    }